@font-face {
    font-family: "Alegreya Sans";
    font-style: bold;
    font-weight: normal;
    src: url("/fonts/AlegreyaSans-Medium.ttf") format("truetype");
    letter-spacing:.6em;
}

.centerContainer{
	margin: auto;
    width: 55%;
    margin-top: 15%;
}


.mainContainer{
	margin-top: 15%;
	margin: auto;
	width: 55%;
	font-family : 'Alegreya Sans'; 
	letter-spacing : 1;
	font-size: 20px;
	font-weight: 500;
	color: grey;
}
.center{
    border: 1px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    margin-bottom : 20px;
}

.center .progress{
	height: 14px;
	border-radius : 0px;
}

.center .progress-bar {
	background-color: red;
}

.innerCenter {
	margin: auto;
    width: 90%;
}

.constantBottomPadding{
	margin-bottom: 10%;
	padding-right : 2%;
}

.dollar-icon {
	position: relative;
}

.dollar-icon > i {
	position: absolute;
	display: block;
	transform: translate(0, -50%);
	top: 50%;
	left : 15%;
	pointer-events: none;
	width: 50%;
	font-style: normal;
	font-size: 170%;
}

.dollar-icon > input, .btn {
	font-size:25px;
	padding:18px 35px;
	
}

.popover-content {
	padding : 0px;
}

.popover-content .customPopover{
	font-family: 'Alegreya Sans';
	letter-spacing: 1;
	width: 100%;
	font-size: 20px;
	padding: 25px 60px 0px 45px;
	color: white;	
}

.center .popover{
	max-width: 100% !important;
	height: 10% !important;
	background-color: black !important;
}

.center .popover.top >.arrow:after {
	border-top-color: black;
}

.popover-content .socialShare{
	width: 100%;
	padding: 10px 10px 10px 10px;
}


.form-control{
	width: 100%;
	height: auto;
}	

.btn-primary{
	background-color: #32CD32;
	border-color:#32CD32;
	border-bottom: 2px solid green;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover{
	background: green;
}
.tooltip.tooltipCustomClass .tooltip-inner {
  	font-family: 'Alegreya Sans';
	letter-spacing: 1;
}

.defaultButton {
	border-radius: 6px;
    padding: 10px 30px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    background-color: #F5F5F5;
    color: grey;
    border: 1px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    letter-spacing: 1;
}

.defaultButtonMainClass .col-xs-6{
	padding-right: 0px;
	padding-left: 0px;
}

.defaultButtonMainClass .save{
	padding-right: 10px;
}

.defaultButtonMainClass .tell{
	padding-left: 10px;
}

@media only screen and (max-width: 450px) {

.centerContainer, .mainContainer{
		width:100% !important;
	} 

.dollar-icon > input, .btn {
	font-size:25px;
	padding:20px 20px;
	
}
.dollar-icon > input{
	padding-left:35px;
}
.defaultButton {
	padding: 10px 0px;
	font-size: 16px;
}
.defaultButtonMainClass .col-xs-6{
	padding-right: 0px;
	padding-left: 0px;
}
.defaultButtonMainClass .tell{
	padding-left: 10px;
}
.defaultButtonMainClass .save{
	padding-right: 10px;
	padding-left: 0px;
}

}

@media only screen and (min-width: 450px) and (max-width:1000px ){
.centerContainer, .mainContainer{
		width:100% !important;
	} 

.dollar-icon > input, .btn {
	width:100%;
	font-size:25px;
	padding:20px 20px;
	
}
.dollar-icon > input{
	padding-left:75px;
}
}


}
